<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户支付协议</title>
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="./js/jq.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <meta name="keywords" content="中国语Xueonline" />
    <!--网页关键字-->
    <meta name="description" content="一个在线1v1教育平台" />
    <!--网页描述-->
    <meta name="author" content="XUE" />
    <!--网页作者-->

    <style>
        .box-titmoeny {
            width: 50%;
            margin: 10px auto;
            padding: 10px;
            border: 1px solid #fff;
            box-shadow: 2px 2px 2px 2px #ccc;
        }

        p {
            font-size: 14px;
        }

        .p2 {
            margin-left: 2em;
        }

        .p1 {
            font-weight: 600;
        }
    </style>
</head>

<body style="background: #f4f4f4;">
    <a href="getmoeny.html" class="a-tit-moeny">返回支付页面</a>
    <div class="box-titmoeny">
        <div>
            <h1>用户服务付费协议</h1>
            <p class="p1">2019年08月16日</p>
        </div>
        <p class="p1">第一条 导言</p>
        <p> 欢迎您使用XUEonline的各项服务！</p>
        <p>本协议是您与XUE语言教育平台之间关于您使用XUE语言教育平台服务所订立的协议。 为保障用户权益，请您在付费之前详细阅读本服务协议所有内容。 </p>
        <p>除非您已阅读并接受本协议所有条款，否则您无权使用所有服务。您对本服务的任何购买或接受赠与等获取行为及登录、查看等任何使用行为即视为您已阅读并同意本协议的约束。
            如果您未满18周岁，请在法定监护人的陪同下阅读本协议，并特别注意未成年人使用条款。 XUE语言教育平台收费内容包括：课程,积分,书籍。
            XUE官网的现有各类规则，均为本协议不可分割的组成部分，与本协议具有同等法律效力。</p>
        <p class="p1">第二条 用户规则</p>
        <p> 用户对以其帐号发生的或通过其帐号发生的一切活动和事件（包括但不限于用户发表的任何内容以及由此产生的任何结果）负全部法律责任。 </p>
        <p> 1、用户在XUE官网的有偿获得课程内容或服务时，用户需先登录或注册帐号，或通过页面提示选用其他可用帐号进行登录。用户在使用XUE官网服务时登录的帐号是确认您身份的唯一依据。 </p>
        <p> 2、用户理解并同意：XUE官网提供有偿内容或服务实行先付款后使用的方式，用户及时、足额、合法的支付所需的款项，是您使用课程有偿内容或服务的前提。 </p>
        <p> 3、用户理解并同意：XUE官网提供的付费内容产品（包括但不限于积分、课程等）需进行整体一次性购买，购买后可以在产品规定时间内学习该课程所有已发布或即将发布的课程内容。由于购买之内容为均为数字版权内容，故一经购买后，不得申请退款。
        </p>
        <p> 4、用户知悉并同意：用户无权对课程内容进行任何的修改、出租、租赁、出借、出售、分发、复制、创作衍生品。若用户违反本条规定，XUE在线教育平台官方有权视情况采取如下措施</p>
        <p class="p2"> 4.1 取消用户继续使用该课程的权利；</p>
        <p class="p2"> 4.2 限制/冻结/注销/用户的帐号； </p>
        <p class="p2"> 4.3 要求用户退还其通过出售、转让、许可等其他方式取得的收益；</p>
        <p class="p2"> 4.4 其他可以采取的补救措施。 </p>
        <p> 5、用户了解并同意：XUE官方可能不定期的对收费内容进行更新（包括但不限于：更新课程内容、改进课程安排）且无需经过用户的事先同意。 </p>
        <p> 6、支付宝、微信是用户支付款项的支付平台。用户可以通过XUE官网支付页面提示，选用支付平台账号支付，并承担交易所产生的法律后果。 </p>
        <p> 7、用户应保管好自己的帐号和密码（包括但不限于：XUE官方帐号和密码、支付平台账号密码），如因用户未保管好自己的帐号和密码而对自己、对XUE官方造成之损害，用户将负全部责任。另外，用户应对用户帐号中的所有活动和事件负全责。用户同意若发现有非法使用用户的帐号或出现安全漏洞的情况，立即通告XUE官方，XUE官方将会尽力予以妥善解决。
        </p>
        <p class="p1">第三条 本协议的修订和变更</p>
        <p>1、本协议内容同时包括XUE官方可能不断发布的关于服务内容的相关协议、业务规则等内容。上述内容一经正式发布，即为本协议不可分割的组成部分，您同样应当遵守。 </p>
        <p>2、XUE官方服务协议一旦进行修改，将在页面上公示修改的内容。一经公布即视为通知所有用户。 </p>
        <p>3、XUE官方服务所提供的视频、图文等信息，在使用期限中包含解决故障、服务器维修、调整、升级等所需用的合理时间，对上述情况所需用的时间XUE官方不予补偿并保留解释权。</p>
        <p>4、XUE官方网站用户如果不同意条款的修改，可主动向XUE官方提出终止服务申请，但XUE官方不退还自开通服务至提出终止服务所在月的已享受服务的部分费用；如果用户继续享用XUE官方服务，则视为用户已经接受条款的修改
        </p>
        <p class="p1">第四条 服务的中断和终止</p>
        <p>1、因发生XUE官方不可抗拒的事由，如自然灾害、政府行为、不可抗力，导致服务无法继续，XUE官方会以最快的速度通知用户，但不承担由此造成的任何损失，并不退还用户该阶段的服务费。 </p>
        <p> 2、如用户违反或被视为违反本服务条款中的内容，XUE官方有权在不用户的情况下立即终止用户已购买的所有服务，以及取销用户的XUE官方账户和使用权限，但不退还任何已缴纳的服务费用。 </p>
        <p> 3、XUE官方未行使或延迟行使其在本协议项下的权利并不构成对这些权利的放弃，而单一或部分行使其在本协议项下的任何权利并不排斥其任何其它权利的行使。XUE官方随时有权要求您继续履行义务并承担相应的违约责任。</p>
        <p class="p1">第五条 知识产权</p>
        <p> 1、所有权及知识产权：XUE官方官网及APP中包含的任何文字、图表、音频、视频（包括但不限于图表、动画、音频、视频、界面、数据和程序、代码、文档）等信息或材料均受著作权法、商标法和/或其它法律法规的保护。非经建筑学院书面同意任何个人及组织不得擅自使用、修改、复制、传播、改变、散布、发行或发表上述内容。如有违反，必须承担由此造成的一切损失。
        </p>
        <p> 2、用户在XUE官网学习中所产生的评论、答疑、讨论、个人作品（包括但不限于设计稿件，图片，数据等），XUE官网均有权在XUE官网及相关宣传媒体/品进行展示，并无须支付任何费用。</p>
        <p class="p1">第六条 法律的适用和管辖</p>
        <p>1、本服务条款的生效、履行、解释及争议的解决均适用中华人民共和国法律，本服务条款因与中华人民共和国现行法律相抵触而导致部分无效，不影响其他部分的效力 </p>
        <p> 2、若您和XUE官方之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，争议各方一致同意将发生的争议提交协商不成时，任何一方均可向人民法院提起诉讼</p>
        <p class="p1">第七条 其他</p>
        <p> 1、XUE官方不行使、未能及时行使或者未充分行使本协议或者按照法律规定所享有的权利，不应被视为放弃该权利，也不影响在将来行使该权利。 </p>
        <p>2、本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</p>
    </div>
    <script src="./js/kefu.js"></script>
</body>

</html>