<!DOCTYPE html>
<!--[if lt IE 8 ]> <html class="ie lt-ie8 lte-ie8 lte-ie9" lang="zh-CN"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8 lte-ie8 lte-ie9" lang="zh-CN"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9 lte-ie9" lang="zh-CN"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="zh-CN">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1260">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title></title>

    <link rel="stylesheet" href="statics/assets/css/style.css">
    <script src="statics/assets/js/jquery-1.9.1.min.js"></script>
    <script src="statics/assets/js/sea.js"></script>
    <script src="statics/assets/js/base.js"></script>
    <style>
        .a.active {
            background: #009688 !important;
            color: #fff !important;
        }
    </style>
</head>

<body>
    <div class="page page-index">
        <!-- logo -->
        <h1 class="index-logo icon-logo notext">XUE</h1>

        <!-- banner -->
        <div class="banner" id="banner">
            <div class="hd">
                <ul></ul>
            </div>
            <div class="bd">
                <div class="bd-item bd-atmosphere">
                    <div class="bd-inner wrapper">
                        <dl>
                            <dt class="name">招聘 线上中・日・英・韩兼职老师 </dt>
                            <dd class="text">
                                世界那么大
                                你不来<br>怎么知道你<br>有多厉害!
                            </dd>
                            <dd>
                                <button class="layui-btn"
                                    style="background:#1E9FFF;padding:10px 35px;outline: none;border: none;border-radius: 5px;">加入我们</button>
                            </dd>
                        </dl>
                        <ul class="beam beam-bot">
                            <li class="ani-beam1"></li>
                            <li class="ani-beam2"></li>
                            <li class="ani-beam3"></li>
                        </ul>
                        <ul class="beam beam-top">
                            <li class="ani-beam4"></li>
                            <li class="ani-beam5"></li>
                        </ul>

                        <ul class="dyeing">
                            <li class="ani-dyeing1"></li>
                            <li class="ani-dyeing2"></li>
                            <li class="ani-dyeing3"></li>
                            <li class="ani-dyeing4"></li>
                            <li class="ani-dyeing5"></li>
                        </ul>
                    </div>

                    <div class="bg" id="bannerBg"></div>
                </div>
                <div class="bd-item bd-outstanding">
                    <div class="bd-inner wrapper">
                        <dl>
                            <dt class="name"><b>为</b>工作出色</dt>
                            <dd class="text">
                                XUE，是可以让你看到梦想曙光的地方。<br>当我们回顾追梦的过程，回忆自己努力为梦想努力工作时，留下的每一步脚印，<br>会让我们感到欣喜，这是一种向别人证明我能行的满足。
                            </dd>
                            <dd>
                                <button class="layui-btn1"
                                    style="background:#FF5722;padding:10px 35px;outline: none;border: none;border-radius: 5px;">加入我们</button>
                            </dd>
                        </dl>

                        <!-- 三角形背景 -->
                        <div class="triangle-bg ani-triangle"></div>

                        <!-- 三角形 -->
                        <ul class="triangle-box">
                            <li class="ani ani-triangle1"></li>
                            <li class="ani ani-triangle2"></li>
                            <li class="ani ani-triangle3"></li>
                            <li class="ani ani-triangle4"></li>
                            <li class="ani ani-triangle5"></li>
                            <li class="ani ani-triangle6"></li>
                            <li class="ani ani-triangle7"></li>
                        </ul>

                        <!-- 立体三角形 -->
                        <ul class="polyhedron polyhedron-green">
                            <li class="polyhedron-item polyhedron-item1"></li>
                            <li class="polyhedron-item polyhedron-item2"></li>
                            <li class="polyhedron-item polyhedron-item3"></li>
                            <li class="polyhedron-item polyhedron-item4"></li>
                        </ul>

                        <ul class="polyhedron polyhedron-purple">
                            <li class="polyhedron-item polyhedron-item1"></li>
                            <li class="polyhedron-item polyhedron-item2"></li>
                            <li class="polyhedron-item polyhedron-item3"></li>
                            <li class="polyhedron-item polyhedron-item4"></li>
                        </ul>

                        <ul class="polyhedron polyhedron-blue">
                            <li class="polyhedron-item polyhedron-item1"></li>
                            <li class="polyhedron-item polyhedron-item2"></li>
                            <li class="polyhedron-item polyhedron-item3"></li>
                            <li class="polyhedron-item polyhedron-item4"></li>
                        </ul>
                    </div>
                    <div class="line line-bot ani-line1"></div>
                    <div class="line line-top ani-line2"></div>
                </div>
                <div class="bd-item bd-inspiration">
                    <div class="bd-inner wrapper">
                        <dl>
                            <dt class="name"><b>灵感</b>不间断</dt>
                            <dd class="text">
                                突破和创新是我们骨子里的能量，<br>我们不安于现状，不墨守成规，享受每一次的挑战与成功的喜悦！<br>我们将兴趣、理想和职业完美融合，在惬意的环境里灵感不间断！</dd>
                            <dd>
                                <button class="layui-btn2"
                                    style="background:#FFB800;padding:10px 35px;outline: none;border: none;border-radius: 5px;">加入我们</button>
                            </dd>
                        </dl>

                        <!-- 三角形背景 -->
                        <div class="triangle-bg ani-triangle9"></div>

                        <!-- 标题点缀 -->
                        <ul class="triangle-box">
                            <li class="ani ani-dot1"></li>
                            <li class="ani ani-dot2"></li>
                            <li class="ani ani-dot3"></li>
                            <li class="ani ani-dot4"></li>
                            <li class="ani ani-dot5"></li>
                            <li class="ani ani-dot6"></li>
                            <li class="ani ani-dot7"></li>
                        </ul>

                        <!-- 立体三角形 -->
                        <ul class="polyhedron polyhedron-green">
                            <li class="polyhedron-item polyhedron-item1"></li>
                            <li class="polyhedron-item polyhedron-item2"></li>
                            <li class="polyhedron-item polyhedron-item3"></li>
                            <li class="polyhedron-item polyhedron-item4"></li>
                        </ul>

                        <!-- 笔 -->
                        <div class="pen"></div>

                        <!-- 画 -->
                        <ul class="draw">
                            <li class="ani-draw1"></li>
                            <li class="ani-draw2"></li>
                            <li class="ani-draw3"></li>
                        </ul>
                    </div>

                </div>
                <div class="bd-item bd-resonance">
                    <div class="bd-inner wrapper">
                        <dl>
                            <dt class="name">灵魂的共鸣</dt>
                            <dd class="text">有趣的灵魂 终究会相遇<br>有趣的事情 总会有共鸣<br>和有趣的人一起做有趣的事</dd>
                            <button class="layui-btn3"
                                style="background:#1E9FFF;padding:10px 35px;outline: none;border: none;border-radius: 5px;">加入我们</button>
                        </dl>

                        <!-- 标题点缀 -->
                        <ul class="triangle-box">
                            <li class="ani ani-piece1"></li>
                            <li class="ani ani-piece2"></li>
                            <li class="ani ani-piece3"></li>
                            <li class="ani ani-piece4"></li>
                            <li class="ani ani-piece5"></li>
                            <li class="ani ani-piece6"></li>
                        </ul>
                    </div>
                    <div class="triangle-bg ani-triangle12"></div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="760" viewBox="0, 0, 1920, 760"
                        class="resonance-svg" id="svg"></svg>
                </div>
            </div>
        </div>
    </div>
    <section
        style="width: calc(70%);height: 100vh;background:#1E9FFF;padding: 20px 15%;color: #fff;overflow: hidden;z-index: 99;">
        <h1 style="color: #fff;padding: 10px 0;">招聘岗位 XUEonline招聘线上兼职老师(中 日 英 韩)</h1>
        <p>温馨提示:<strong style="color:#FFB800;">(XUEonline 官方平台不会向老师收取任何就职服务费用)</strong></p>
        <h2 style="text-align: center;">选择你要应聘的教师岗位</h2>
        <button class="a active"
            style="padding: 15px 8px;background:#fff ;border: none;border-radius: 10px;color: #1E9FFF;box-shadow:2px 2px 2px #fff;">汉语教师</button>
        <button class="a"
            style="padding: 15px 8px;background: #fff;border: none;border-radius: 10px;color: #1E9FFF;box-shadow:2px 2px 2px #fff;">英语,日语,韩语老师</button>
        <br>
        <div style="position: relative;">
            <div id="chinese" class="b"
                style="padding: 10px ;transform: translateX(0%);position: absolute;margin: 10px 0 ;transition: 1s ease;z-index: 99;">
                <h2>汉语教师</h2>
                <h3>面试时提前准备提供个人简历</h3>
                <br>
                <h4>工资面议:(网上面试)薪资大概在2k-10k不等,看个人能力</h4>
                <br>
                <h4>工作地点:无地点限制,可以随时随地办公</h4>
                <br>
                <h4>任职要求:日语必须达到二级以上水平,大专以上学历,经历不限。良好的个人形象,责任心强。文字及口头表达能力强,语言表述清晰流畅 </h4>
                <br>
                <h4>工作流程:平台学生客户主要面对日本用户,一对一线上视频课,中国时间5:00~24:00可自由选择,一周最少10小时以上排课;会三国以上语言者优先考虑;上课软件以 Skype和微信为主,请提前下载
                </h4>
                <br>
            </div>
            <div id="japen" class="b"
                style="position: absolute;margin: 10px 0;transition: 1s ease;transform: translateX(-150%);padding: 10px ;">
                <h2>英语,日语,韩语老师</h2>
                <br>
                <h3>面试时提前准备提供个人简历</h3>
                <br>
                <h4>工资面议:(网上面试)薪资大概在2k-10k不等,看个人能力</h4>
                <br>
                <h4>工作地点:无地点限制,可以随时随地办公</h4>
                <br>
                <h4>任职要求:此语种必须达到可教学水平以上,良好的个人形象,责任心强,文字及口头表达能力强,语言表述清晰流畅。</h4>
                <br>
                <h4>工作流程:平台学生客户主要面对日本用户,一对一线上视频课,中国时间5:00~24:00可自由选择,一周最少10小时以上排课;会三国以上语言者优先考虑;上课软件以 Skype和微信为主,请提前下载
                </h4>
            </div>
        </div>
        <div style="margin-top:300px;display: flex;justify-content:space-around;">
            <div>
                <p>微信客服</p>
                <img src="img/569d7f542977ce4256135abe23f6dc3.jpg" alt="" width="200px" height="300px">
            </div>
            <div>
                <p>Skype客服</p>
                <img src="./img/4a3372abbaf4a5ae95b4e7aaeb01d11.png" width="200px" alt="" height="300px">
            </div>
        </div>
    </section>

    <script type="text/javascript">
        seajs.use('app/common', function (fn) {
            fn.index();
            fn.drawSvg();
        })
    </script>
    <script>
        function getScroll(dome) {
            $(dome).on('click', function () {
                var clientHeight = document.documentElement.clientHeight;
                var h = $(window).scrollTop();
                clientHeight == clientHeight ? clientHeight : clientHeight - h;
                // console.log(clientHeight)
                $("html").animate({ scrollTop: clientHeight + 10 });
            })
            //解决循环bug
        }
        getScroll('.layui-btn')
        getScroll('.layui-btn1')
        getScroll('.layui-btn2')
        getScroll('.layui-btn3')
        $('.a').each(function (item) {
            $(this).on('click', () => {
                $(this).attr('class', 'a active').siblings().removeClass('active')
                $('.b').eq(item).css('transform', 'translateX(0%)').siblings('.b').css('transform', 'translateX(-300%)')
                // $('.b').eq(item + 1).css('transform', 'translateX(-150%)')


            })
        })
    </script>
    <script src="./js/kefu.js"></script>
</body>

</html>